---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 5);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5 flex flex-col">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Adam Koziorz</div>
    <div class="text-3xl py-3 font-bold">Geospatial Software Developer</div>
    <div class="py-2 flex flex flex-col">
      <text class="text-lg pb-2">
       Through my experience in data, engineering, and delivery, I have learned that AI can handle the "middle" of projects - but not the "ends". Not the problems we choose to solve and the impact we create. That's the work I care most about, and it shapes how I design and implement responsible AI and data systems.
      </text>
      <text class="text-lg">
       Currently working on two map-based tools and searching for opportunities!
      </text>
    </div>
    <div class="mt-8 flex flex-wrap gap-4">
      <a
            class="btn btn-outline"
            href="mailto:adam-koziorz@outlook.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade"
      >
            Connect through Email
      </a>
      <a href="./resume" class="btn btn-outline">
        View my Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Mealer"
    img="/mealer.png"
    desc="A restaurant recommender app for foodies who mainly trust their own taste."
    url="https://mealerapp.com"
    badge="v0.1.0 (Beta Release)"
    blogUrl="/blog/side-project-mealer"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Drift"
    img="/toronto.webp"
    desc="A reproducible data pipeline and dashboard that showcases tract-level indicators of neighbourhood change across Toronto related to gentrification. Stay tuned!"
    badge="Early Development"
    blogUrl="/blog/side-project-drift"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img="/weather.gif"
    desc="A simple, aesthetic weather API wrapper inspired by glassmorphism and pixel art"
    url="https://adamkoziorz.github.io/odin-weather/"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
