---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5 flex flex-col">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Adam Koziorz</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a software developer that wishes to specialize in the harmonious, responsible design and implementation of AI and big data solutions. By the time I graduate, I would have gained knowledge in human-computer interaction, machine learning, networks, and data privacy. I have also gained experience as a data scientist, software developer, and project manager through internships and self-learning.
      </text>
    </div>
    <div class="mt-8 flex flex-wrap gap-4">
      <a
            class="btn btn-outline"
            href="mailto:adam-koziorz@outlook.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade"
      >
            Connect through Email
      </a>
      <a href="./resume" class="btn btn-outline">
        View my Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Mealer"
    img="/mealer.png"
    desc="A restaurant recommender app for foodies who mainly trust their own taste. Expected release around January/February 2026."
    url="https://github.com/AdamKoziorz/mealer"
    badge="Ongoing"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img="/weather.gif"
    desc="A simple, aesthetic weather API wrapper inspired by glassmorphism and pixel art"
    url="https://adamkoziorz.github.io/odin-weather/"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
