---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";


const skills = [
  {
    title: "Programming Languages",
    items: [
      "TypeScript",
      "Python",
      "SQL",
    ]
  },
  {
    title: "Frontend",
    items: [
      "React",
      "MapLibre GL",
      "TailwindCSS",
      "React Query",
      "Zustand",
      "Vite",
      "Astro",
    ],
  },
  {
    title: "Backend",
    items: [
      "Node",
      "Express",
      "Electron",
      "Kysely"
    ],
  },
    {
    title: "Data Science",
    items: [
      "NumPy",
      "Scikit-Learn",
      "PyTorch",
      "Ollama",
      "LangChain"
    ],
  },
  {
    title: "Database & Storage",
    items: ["PostgreSQL", "MySQL"],
  },
  {
    title: "Cloud & DevOps",
    items: ["Azure", "Git", "Docker", "AWS"],
  },
  {
    title: "Tools",
    items: ["Power BI", "Alteryx"],
  },
];

---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div>
    <div class="text-3xl w-full font-bold mb-10">My Resume</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> 🛠️ Skills</div>
  </div>

  <div class="space-y-4 mb-12">
    {skills.map((group) => (
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2 text-medium font-bold">
          <span>{group.title}</span>
        </div>
        <div class="flex flex-wrap gap-2 ml-2">
          {group.items.map((skill) => (
            <span class="inline-block rounded-md bg-base-200 px-3 py-1 text-xs text-base-content/80">
            {skill}
          </span>
          ))}
        </div>
      </div>
    ))}
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> 🎓 Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science Honours Co-op (BCS)"
      subtitle="September 2020 to April 2026 at the University of Waterloo, ON"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> 💼 Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Developer Intern"
      subtitle="From May 2025 to August 2025 at the Regional Municipality of Durham, Whitby, ON"
    >
      <ul class="list-disc mx-6 pb-8">
      <li>Extended an internal AI scribe prototype (<b>Python</b>, <b>Ollama</b>) by implementing the Chain-of-Agents framework, improving long-context information recall on a CPU-run, lightweight model </li>
      <li>Developed an internal app (<b>Electron</b>, <b>TypeScript</b>, <b>React</b>) that replaced a 2-hour manual workflow with a single upload-and-compute step, enabling quicker and more accurate cross-team reporting </li>
      <li>Supported the design of the data architecture and privacy risk assessment of a proposed agentic data analysis system; secured senior leadership approval upon presenting to regional staff </li>
      </ul>


    </TimeLineElement>
    <TimeLineElement
      title="Lead Data Scientist and Project Manager"
      subtitle="From January 2022 to August 2022 and January 2024 to August 2024 at Genellipse Inc., Remote, ON"
    >
      <ul class="list-disc mx-6">
      <li> Spearheaded a project to migrate legacy ETL processes to <b>Azure</b>, leading to automated data refreshes, improved maintenance, and a runtime reduction from 90 minutes to 5 minutes</li>
      <li> Built interactive analytics dashboards (<b>Pandas</b>, <b>SQL</b>, <b>Power BI</b>), empowering a high-end hospitality client with valuable operational insights and enabling informed decision making </li>
      <li> Coordinated stakeholder communication and sprint planning, ensuring timely, high-quality deliverables </li>
      </ul>
    </TimeLineElement>
  </div>
</BaseLayout>
